/*
 * sysMonDash
 *
 * @author    nuxsmin
 * @link      http://cygnux.org
 * @copyright 2012-2016 Rubén Domínguez nuxsmin@cygnux.org
 *
 * This file is part of sysMonDash.
 *
 * sysMonDash is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * sysMonDash is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with sysMonDash.  If not, see <http://www.gnu.org/licenses/>.
 */

#wrap {
    width: 60%;
    margin: 1em auto;
}

/*#wrap form fieldset {
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    margin: 1em 0;
    padding: 1em;
    line-height: 2em;
}*/

#wrap form label {
    white-space: nowrap;
    width: 18em;
}

/*#wrap form input,
#wrap form select  {
    display: inline-block;
    flex: 1;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
}

#wrap .flex-wrapper > div {
    display: flex;
}*/

#wrap #result {
    width: 70%;
    margin: 1em auto;
    padding: .5em;
    text-align: center;
    border-radius: 5px;
    color: #333;
}

#wrap #result.error {
    background-color: #ffcdd2;
}

#wrap #result.ok {
    background-color: #c8e6c9;
}