* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, helvetica, verdana, tahoma, "sans serif";
    line-height: 1.3em;
    overflow-x: hidden;
    font-size: 1.2em;
    background-color: #f5f5f5;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr.item-data > td, thead > th {
    padding: .3em 1em;
    border-bottom: 1px solid #fff;
}

#logo h1 {
    font-size: 1.3em;
    margin-left: .5em;
}

.head {
    background: #d9d9d9;
    color: #555;
    text-align: center;
}

.head th {
    padding: .2em 10px;
}

.new {
    font-weight: bold;
}

.up a, .new a {
    color: #999;
}

.up, .new-up {
    background-color: #66bb6a;
}

.critical {
    background-color: #ef5350;
}

.warning {
    background-color: #ffa726;
}

.unknown {
    background: #7e57c2;
}

.downtime {
    background: #42a5f5;
}

.acknowledged {
    background: #78909c;
}

.flapping {
    background: #d4e157;
    color: #555;
}

.flapping, .flapping a {
    color: #555;
}

.critical, .warning, .unknown, .downtime, .acknowledged, .new-up,
.critical a, .warning a, .unknown a, .downtime a, .acknowledged a, .new-up a {
    color: #fff;
    font-size: 1em;
    font-weight: bold;
}

.statusinfo {
    font-size: .7em !important;
}

#total {
    font-size: .7em;
    color: #777;
    text-align: right;
    padding: .3em 1em;
}

#total a {
    color: #777
}

#loading {
    background: transparent url(../imgs/throbber.gif) no-repeat center center;
    width: 214px;
    height: 13px;
    display: inline-block;
}

#refreshing {
    color: gray;
}

#refreshing_countdown {
    display: inline-block;
    width: 15px;
    text-align: center;
}

#refreshing, #loading {
    line-height: 50px;
    font-size: 1em;
}

#icinga_header {
    border: none;
    overflow: hidden;
    height: 80px;
    width: 100%;
}

#monitor-data {
    margin: 1em 0;
    width: 100%;
}

footer {
    text-align: right;
    color: #c9c9c9;
    font-size: .8em;
    margin-bottom: 2em;
    border-top: 1px solid #d9d9d9;
    padding: .5em 0;
}

footer a, footer a:visited {
    color: #c9c9c9;
}

footer #project {
    margin-right: 2em;
}
footer #project a {
    vertical-align: baseline;
}

.action-link, .action-link img {
    font-size: 10px;
    vertical-align: middle;
    padding: 0;
}

.action-link img {
    margin: 0 1em;
    width: 20px;
    height: 20px;
}

#logo {
    padding: .5em;
    text-align: left;
    background-color: #555;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
}

#logo img {
    border: 0;
}

#hora {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: .8em;
    display: inline-block;
}

#titulo {
    position: absolute;
    top: 0;
    right: 1em;
    text-align: right;
    color: #fff;
}

#nomessages {
    width: 30%;
    margin: 1em auto;
    color: green;
    text-align: center;
    background-color: #f2f2f2;
    padding: 1em;
    border-radius: 15px;
}

#nomessages.error {
    border: 1px solid  #f44336;
    color:  #f44336;
}

div#nagvis-view {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    /*left: 5%;*/
    width: 1280px;
    height: 500px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 2em;
}

div#nagvis-view > iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

#tblDowntime {
    margin-top: 1em;
    font-size: 14px;
}

#tblDowntime thead.head {
    background-color: #dfdfdf;
    color: #777;
    text-align: center;
}

#tblDowntime tbody tr {
    color: #fff;
    background-color: #42a5f5;
    text-align: center;
}

div.title {
    width: 100%;
    margin: 0 auto;
    color: #777;
    text-align: center;
    border-top: 1px solid #d9d9d9;
    padding: .5em 0;
}

.center {
    text-align: center;
}

footer #updates {
    display: inline-block;
    margin-right: .5em;
}